@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<Search></Search>

<StockChart Ticker="TSLA"></StockChart>

<AuthorizeView>
    <NotAuthorized>
        <span>
            hi this is NotAuthorized
        </span>
    </NotAuthorized>
    <Authorized>
        <span>hi this is Authorized</span>
        <p>As @context.User.Identity.Name</p>
    </Authorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
